body
{
	background: #fff url('kartinka/back.jpg') repeat scroll bottom left;
}

.p1
{	
	text-indent: 30px;
	font: normal normal normal 16px georgia, arial, verdana, sans-serif;
	color: #999;
	background: #fff;
	border: 1px solid #999;
	padding: 10px;
	line-height: 30px;
	word-spacing: 1px;
}

.kart
{
	position: relative; /* s relative elementa kojto pozicionirame se pozicionira sprqmo mqstoto kydeto trqbvalo da byde predi da se izpolzva komandara za pozicionirane i mqstoto na koeto e bul ostava prazno */
	top: 150px;
	left: 100px;
}

.parent
{
	background: #000;
	width: 700px;
	height: 300px;
	position: absolute;
	bottom: 10px;
	left: 100px;
}

.positioner
{
	width: 500px;
	position: absolute; /* pozocionirane absolute, relative (sluji za pozicionirane ot ramkite na dokumenta, a ne ot tezi na kojto i da e element), no poneje se namirame v drug div ot shte se razpoloji sprqmo diva v kojto se namira... vmesto se syobrazqva po granicite na sajta*/
	top: 50px;
	right: 30px;
	background: #00ff00;
	color: #999;
}

.imager
{	
	height: 150px;
	width: 250px;
	float: left;
	border: 3px double #b7b7b7;
	margin: 10px;
	padding: 30px;
}

.texter
{
	background: #fbfbfb;
	border: 3px solid #c0c0c0;
	color: #999;
	padding: 10px;
	margin: -150px 400px 0px 250px;
}

.textera
{
	background: #c0c0c0;
	border: 3px solid #909090;
	color: #999;
	padding: 10px;
	margin: -367px 0px 0px 750px;
}

h1
{
	text-decoration: underline overline;
	font-variant: small-caps;
	color: #999;
}

a.goshe:link
{
	color: #ccc;
	border-bottom: 1px dashed #999;
	text-decoration: none;
	background: #999;
}

a.goshe:visited
{
	text-decoration: none;
	color: #ccc;
	border-bottom: 1px solid #ccc;
}

a.goshe:hover
{
	color: #fff;
	background: #888;
}

a.goshe:active
{
	color: #ff000;
	background: #000;
}

span
{
	font-weight: bold;
	color: #960000;
	text-decoration: underline;
}

a:link
{
	color: #999;
	border-bottom: 1px dashed #999;
	text-decoration: none;
}

a:visited
{
	text-decoration: none;
	color: #ccc;
	border-bottom: 1px dashed #ccc;
}

a:hover
{
	color: #999;
	border-bottom: 1px solid #999;
}

a:active
{
	color: #ff0000;
}










